.card {
   border-radius: 8px;
   box-shadow: 1px 1px 10px orange;
   background-image: url("../../img/cat2.jpg");
   margin-top: 40px;
   
  
}


.white-mod {
   border-radius: 8px;
   box-shadow: 1px 1px 10px orange;
   margin-bottom: 100px;
   margin-top: 50px;
}