h2 {
    color:rgb(61, 61, 61);
    background-color: rgb(233, 217, 196);
}

form.white {
    background-color: rgb(233, 217, 196) !important;
}

/* posting board create button and user circle */
button.btn.pink {
    background-color: orange !important;
}

.btn-floating.pink {
    background-color: orange !important;
}

/* search sitter button */
.btn.btn-dark {
    background-color: orange !important;
}

#searchZipcode {
    background-color: rgb(233, 217, 196);
}

.sitter-signup {
    margin-left: 150px;
}

.z-depth-0 {
    background-color: rgb(233, 217, 196);
}