.logo {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}


.logo>img {
    vertical-align: middle
}

.brand-logo {
    width: 220px;
}
.nav-wrapper {
    height: 420px;
    background-image: url("../../img/dog.jpg");
}

.mission {
    position: flex;
    margin-top: 50px;
}

.right {
    font-size: 20px;
}

